

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	text-align: center;
}

.btn-success {
	width: 95%;
}

h1{
	font-family: 'Oldenburg';
}
















