

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  text-align: center;
  margin: 0;
  background: url('../img/bg.jpg');
  background-size: 100% 100%;

}

img {
  display: block;
  width: 100%;
  background-attachment: fixed;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);

}


h1 {
  font-family: 'Oldenburg';
  color: #FFF;
  text-shadow: black 3px 3px 5px;
}

#logoz {

  font-family: 'Oldenburg';
  color: #FFF;
  text-shadow: black 3px 3px 5px;

}

p {
  color: #FFF;
  text-shadow: black 2px 2px 3px;
}

input {
  box-shadow: black 2px 2px 2px;
}

.btn-success {
  width: 95%;
}

.scene {



  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index:-1;
  position: fixed;
  bottom: 0;
  top: 0;
  left: -400px;
  right: -400px;
  max-width: 1600px;

}


.layer:nth-child(1) {
  position: relative;
  opacity: 0.98;

}
.layer:nth-child(2) {
  position: relative;
  opacity: 0.92;

}
.layer:nth-child(3) {
  position: relative;
  opacity: 1.00;

}
.layer:nth-child(4) {
  position: relative;
  opacity: 1.00;

}
.layer:nth-child(5) {
  position: relative;
  opacity: 0.90;
}
.layer:nth-child(6) {
  position: relative;
  opacity: 0.95;
}

.jumbo {
  position: absolute;
}
















